

body { 
    margin: 60px auto; 
    width: 70%; 
    height: 100vh;
    bottom: 0;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 100px;
    padding: 2px;
    border: 3px solid lightgrey;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
} 

.column {
    float: left;
    width: 35%;
    margin-top: 30px;
}

.column1 {
    float: right;
    width: 55%;
    margin-top: 30px;
    display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: lightgrey;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {display: block;}

.nav-header  {
    display: flex;
    background-color: #333;    
    color: white;
    padding: 14px 16px;
    float: left;
    width: 100%;
    position: relative;
    z-index: 2;    
}

.nav-header #About {
    flex: 1;
    text-align: center;
}

.nav-header #exp {
    flex: 3;
    text-align: center;
}

.nav-header #cont {
    flex: 1;
}

#section01, #section02, #section03 {
    width: 100%;
    background-color: #ffb6c1;
    position: sticky;
    margin-top: 420px;
    padding: 20px;
}

